#estatistica {
    background-image: url("./imagem-de-fundo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 110vh;
    z-index: -1;
   
}

.container_estatic {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
    
}
.container_estatic h1{
    font-size: 50px;
    font-weight: 900;
    color: white;
    text-shadow: 0 6px #000;
}

@media screen and (max-height: 490px){
    #estatistica{
        padding: 40px;
    }
}
@media only screen and (min-width: 1900px) {
    
    #estatistica{
        font-size: 120px;
    }
}